.InputCarrier {
  width: 450px;
  background: #fff;
  height: 60px;
  border-radius: 30px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.InputCarrier img {
  margin-left: 30px;
  height: 28px;
  margin-top: 11px;
}

.InputCarrier input {
  height: 100%;
  color: #555;
  font-size: 1em;
  width: calc(100% - 200px);
}

.InputCarrier input::-webkit-input-placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.InputCarrier input:-ms-input-placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.InputCarrier input::-ms-input-placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.InputCarrier input::placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.Button {
  color: #fff;
  background: #ff638e;
  height: 100%;
  width: 180px;
  border-radius: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: 0 12px 15px 0 rgba(255, 99, 142, 0.2);
}

.InputCarrierNotice {
  align-self: center;
  width: 100%;
  text-align: center;
}

.problem {
  border: 2px solid red;
  color: red;
}

.sent {
  border: 2px solid #32c052;
  color: #32c052;
}

.textMe {
  background: #e7f7ff;
  color: #a1a1a1;
}

.textMeCarrier {
  max-width: 1200px;
  margin: auto;
}

.textMeCarrier,
.textMeInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 260px;
}

.textMeInner {
  max-width: 1000px;
  margin: 30px auto auto;
  padding-bottom: 20px;
  background: url(/static/girl-f6d2351e5c7a923cdc5c042dead91bae.png) no-repeat;
  background-position: 100% 100%;
}

.textMeInner h2 {
  font-size: 2.3em;
  padding-top: 30px;
  color: #00adfe;
}

.textMeInner p {
  color: #454545;
  font-size: 0.85em;
  padding-top: 15px;
}

.textMeInputCarrier {
  width: 43%;
  background: #fff;
  height: 60px;
  border-radius: 30px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 12px 15px 0 hsla(0, 0%, 63.1%, 0.2);
}

.textMeInputCarrier img {
  margin-left: 30px;
}

.textMeInputCarrier input {
  height: 100%;
  color: #555;
  font-size: 1.1em;
  width: calc(100% - 200px);
}

.textMeInputCarrier input::-webkit-input-placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.textMeInputCarrier input:-ms-input-placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.textMeInputCarrier input::-ms-input-placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.textMeInputCarrier input::placeholder {
  color: #d3d2d3;
  opacity: 1;
}

.textMeInputCarrier .textMeButton {
  color: #fff;
  background: #ff638e;
  height: 100%;
  width: 120px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .textMe {
    display: none;
    margin: auto;
  }
}

.Advantages {
  background: rgba(231, 245, 255, 0.25);
  color: #454545;
}

.AdvantagesCarrier {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.AdvantagesInner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 30px auto auto;
  padding-bottom: 120px;
}

.AdvantagesInner h2 {
  font-size: 2.3em;
  padding-top: 30px;
  color: #00adfe;
  line-height: 1.2em;
}

.AdvantagesInner h2 span {
  color: #ff9700;
}

.AdvantagesInner p {
  font-size: 0.88em;
  padding: 30px 0;
}

.AdvantagesButton {
  width: 250px;
  height: 60px;
  border-radius: 30px;
  background-color: #ff9700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  box-shadow: 0 12px 15px 0 rgba(251, 151, 0, 0.2);
  margin-top: 20px;
}

.AdvantagesHolder {
  flex: 11 1;
}

.AdvantagesRight {
  position: relative;
  pointer-events: none;
  flex: 9 1;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: -120px;
  display: flex;
}

.AdvantagesRightImg {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  flex: 9 1;
}

@media (max-width: 1000px) {
  .AdvantagesInner {
    width: calc(100% - 50px);
    padding-bottom: 72px;
    background-size: auto 70%;
    background-position: 100% 100%;
  }
  .AdvantagesHolder {
    flex: 11 1;
  }
  .AdvantagesInner h2 {
    font-size: 1.6em;
  }
  .AdvantagesRight {
    margin-bottom: -72px;
  }
  .AdvantagesRightImg {
    align-self: flex-end;
  }
}

@media (max-width: 500px) {
  .AdvantagesInner {
    flex-direction: column;
    background-size: 90%;
    background-position: bottom;
    height: 610px;
    padding-bottom: 0;
  }
  .AdvantagesInner p br {
    display: none;
  }
  .AdvantagesButton {
    margin: 10px auto;
  }
  .AdvantagesHolder {
    flex: 1 1;
  }
  .AdvantagesRight {
    flex: 1 1;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .AdvantagesRightImg {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
  }
  .AdvantagesRightImg img {
    align-self: center;
    width: auto !important;
    height: 100% !important;
  }
}

.AllGames {
  background: rgba(231, 245, 255, 0.25);
  color: #454545;
}

.AllGamesCarrier {
  max-width: 1200px;
  margin: auto;
}

.AllGamesCarrier,
.AllGamesInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AllGamesInner {
  max-width: 1000px;
  align-items: flex-end;
  margin: 30px auto auto;
  padding-bottom: 20px;
  background: url(/index_files/all-gv.png) no-repeat;
  background-position: 0 100%;
  min-height: 450px;
  position: relative;
}

.AllGamesInner h2 {
  font-size: 2.3em;
  padding-top: 30px;
  line-height: 1.2em;
  color: #00adfe;
}

.AllGamesInner h2 span {
  color: #49d769;
}

.AllGamesRight {
  width: 45%;
}

.AllGamesInner p {
  font-size: 0.88em;
  padding: 30px 0;
}

.AllGamesButton {
  width: 170px;
  height: 60px;
  border-radius: 30px;
  background-color: #ff638e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 23px;
  box-shadow: 0 12px 15px 0 rgba(255, 99, 142, 0.2);
}

.AllGamesInner .small {
  font-size: 0.75em;
  line-height: 1.2em;
  color: #a1a1a1;
}

@media (max-width: 1000px) {
  .AllGamesRight {
    width: 48%;
    padding-right: 5%;
  }
  .AllGamesInner {
    background-position: 7%;
    background-size: auto 50%;
    min-height: 370px;
  }
  .AllGamesInner h2 {
    font-size: 1.6em;
  }
  .AllGamesInner h2 br {
    display: none;
  }
}

@media (max-width: 500px) {
  .AllGamesRight {
    width: calc(100% - 50px);
  }
  .AllGamesInner {
    margin-top: 0;
    height: 720px;
    background-size: 80%;
    background-position: 7% bottom;
  }
  .AllGamesInner h2 br {
    display: block;
  }
  .AllGamesButton {
    margin: 0 auto;
  }
}

.Certificates {
  background: #fff;
  color: #454545;
}

.CertificatesCarrier {
  max-width: 1200px;
  margin: auto;
  min-height: 260px;
  overflow: hidden;
}

.CertificatesCarrier,
.CertificatesInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CertificatesInner {
  max-width: 1000px;
  margin: 40px auto auto;
}

.CertificatesTop {
  flex-direction: row;
}

.CertificatesContent,
.CertificatesTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CertificatesContent {
  max-width: 655px;
  margin: auto;
  flex-direction: column;
  text-align: center;
}

.CertificatesContent .mainText {
  font-size: 0.95em;
  color: #454545;
  padding-bottom: 20px;
}

.CertificatesContent .subText {
  font-size: 0.76em;
  color: #d3d2d3;
  padding: unset;
}

.CertificatesBadges {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.CertificatesBadges .stores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 48px;
  align-items: baseline;
  align-self: center;
}

.CertificatesBadges .awards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 28px;
}

.badge img {
  margin-bottom: 12px;
  align-self: center;
}

.awards .badge img {
  width: 90px;
  height: 90px;
}

.badge .badgeTitle {
  font-size: 18px;
  font-weight: 700;
  white-space: pre-line;
}

.badge .badgeText {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  white-space: pre-line;
}

.CertificatesBot {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 24px;
}

.badges {
  display: flex;
  justify-content: center;
}

.badges img {
  padding: 15px;
  height: 130px;
}

.CertificatesInner h2 {
  font-size: 2.4em;
  color: #00adfe;
  text-align: center;
}

.smallHr {
  border-top: 1px solid #d3d2d3;
  width: 200px;
  margin: 24px 0;
}

.appSSCarrier img {
  width: 100%;
  margin-top: 10px;
  position: relative;
  top: 10px;
}

@media (max-width: 1000px) {
  .CertificatesInner h2 {
    font-size: 1.6em;
  }
  .badge .badgeText,
  .badge .badgeTitle {
    font-size: 16px;
  }
  .CertificatesBadges .stores {
    margin-bottom: 28px;
  }
}

@media (max-width: 500px) {
  .CertificatesInner {
    margin: 25px 20px 0;
    width: calc(100% - 40px);
  }
  .CertificatesTop {
    margin-top: 24px;
  }
  .CertificatesLeftBranch,
  .CertificatesRightBranch {
    display: none;
  }
  .CertificatesContent .mainText {
    padding: 10px 20px;
    font-size: 0.9em;
  }
  .CertificatesBadges .awards,
  .CertificatesBadges .stores {
    flex-direction: column;
    align-items: center;
  }
  .badge {
    margin: 24px 28px;
  }
  .badge .badgeTitle {
    margin-bottom: 8px;
  }
  .badges img {
    height: 110px;
  }
  .appSSCarrier img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.coFounder {
  background: #fdfdfd;
  color: #454545;
}

.coFounderCarrier {
  max-width: 1200px;
  margin: auto;
  min-height: 260px;
}

.coFounderCarrier,
.coFounderInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.coFounderInner {
  max-width: 1000px;
  margin: 40px auto;
}

.coFounderInner h2 {
  font-size: 2.4em;
  padding-top: 20px;
  text-align: center;
  color: #00adfe;
}

.coFounderInnerRow {
  max-width: 830px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px auto;
  padding-bottom: 20px;
}

.coFounderInnerRowLeft {
  width: 33%;
  font-size: 0.85em;
}

.coFounderImageZafer {
  width: 90px;
  margin-bottom: 10px;
}

.coFounderName {
  color: #00adfe;
  padding: 20px 0;
}

.coFounderInnerRowRight {
  width: 55%;
}

.coFounderImageAlper {
  pointer-events: "none";
  width: 100%;
}

.coFounderButton {
  width: 150px;
  height: 60px;
  border-radius: 30px;
  background-color: #ff638e;
  box-shadow: 0 12px 15px 0 rgba(255, 99, 142, 0.2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin-top: 30px;
}

@media (max-width: 1000px) {
  .coFounderInner {
    width: calc(100% - 50px);
    padding: auto 25px;
  }
  .coFounderInner h2 {
    font-size: 1.6em;
  }
}

@media (max-width: 500px) {
  .coFounderInner {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .coFounderInnerRow {
    flex-direction: column;
    margin-top: 20px;
  }
  .coFounderInnerRowLeft {
    width: 100%;
  }
  .coFounderButton {
    margin: 20px auto 30px;
  }
  .coFounderInnerRowRight {
    width: 90%;
    margin: 10px 5% 0;
  }
}

.Comments {
  background: rgba(231, 247, 255, 0.25);
  color: #454545;
}

.CommentsCarrier {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.CommentsGridHolder {
  padding-top: 40px;
}

.CommentsInner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

.CommentsInner h2 {
  font-size: 2.3em;
  text-align: center;
  color: #00adfe;
}

.CommentsInner h2 img {
  height: 50px;
  position: relative;
  top: 7px;
}

.CommentsInner p {
  font-size: 0.9em;
  text-align: center;
  padding: 20px 0;
}

.CommentList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
}

.CommentList:nth-child(2n) {
  flex-direction: row-reverse;
}

.CommentListInnerLeft {
  flex: 7 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.83em;
}

.CommentBodyInner {
  border: 1px solid #00adfe;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
}

.CommentListInnerRight {
  flex: 6 1;
  padding: 0 20px;
}

.CommentListInnerRight div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
  max-width: 300px;
}

.CommentListInnerRight div:nth-child(2n) {
  flex-direction: row-reverse;
}

.CommentListInnerRight div img:nth-child(2) {
  margin: 0 10px;
}

.CommentList:nth-child(2n) .CommentListInnerRight > div {
  margin-left: calc(90% - 300px);
}

.CommentLeft {
  position: relative;
  left: 2px;
  top: 37px;
}

.CommentBodyInner {
  padding: 15px;
}

.CommentBodyName {
  padding: 15px;
  white-space: pre-line;
  color: #00adfe;
}

.avatar {
  width: 90px;
  border-radius: 50%;
}

.CommentTop,
.scrollerBeats {
  display: none;
}

@media (max-width: 1000px) {
  .CommentsGridHolder {
    max-width: 800px;
    margin: auto;
  }
  .CommentBubble1 {
    width: 190px;
  }
  .CommentBubble2 {
    width: 130px;
  }
  .CommentListInnerRight {
    flex: 4 1;
  }
  .CommentList:nth-child(2n) .CommentListInnerRight > div {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .CommentsInner p {
    padding: 20px 40px;
  }
  .CommentsInner p br {
    display: none;
  }
  .CommentList {
    flex-direction: column-reverse !important;
    width: 100vw;
    float: left;
  }
  .CommentLeft {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 2px;
    left: 38px;
    margin-top: 10px;
  }
  .CommentListInnerLeft {
    padding: 0 15px;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  .CommentListInnerRight {
    max-height: 70px;
    width: 60%;
    position: relative;
    left: -15%;
  }
  .CommentList:nth-child(2n) .CommentListInnerLeft {
    align-items: flex-end;
  }
  .CommentList:nth-child(2n-1) .CommentListInnerRight {
    left: 10%;
  }
  .CommentList:nth-child(2n) .CommentLeft {
    left: -37px;
    top: 2px;
  }
  .CommentListInnerRight div:nth-child(3) {
    display: none;
  }
  .CommentList:nth-child(2n) .CommentBodyInner {
    border-radius: 20px 20px 20px 20px;
  }
  .CommentsGridHolder {
    padding-top: 0;
    width: 100%;
    overflow-x: scroll;
    max-width: none;
  }
  .CommentScroller {
    padding-top: 0;
    width: 400vw;
    max-width: none;
  }
  .scrollerBeats {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .beat {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #d3d2d3;
    margin: 0 5px;
  }
  .beatActive {
    background: #ff638e;
  }
  .CommentsInner h2 {
    font-size: 1.6em;
    text-align: center;
    color: #00adfe;
  }
}

.header {
  height: 47px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 0;
  align-items: center;
}

.header > img {
  position: relative;
  top: -3px;
}

.header .menu {
  line-height: 34px;
}

.header .menu li {
  list-style: none;
  font-size: 0.9em;
  float: left;
  height: 34px;
  padding: 0 20px;
}

.header .menu .premium {
  border: 1px solid #ff9700;
  color: #ff9700;
  border-radius: 30px;
  margin-left: 15px;
}

.light .menu .premium {
  border: 1px solid #fff;
  color: #fff;
}

.light .menu li {
  color: #fff;
}

.premium img {
  position: relative;
  top: 2px;
  left: -3px;
  margin-right: 4px;
}

.menu > img,
.menuButton {
  display: none;
}

.activeIndicator {
  width: 25px;
  height: 4px;
  background: #fff;
  border-radius: 2px;
  margin-top: 5px;
}

#school :after {
  content: attr(data-text1);
  visibility: visible;
}

@media (max-width: 500px) {
  .activeIndicator {
    display: none;
  }
  .menuButton {
    display: block;
    background: #ff638e;
    height: 34px;
    line-height: 34px;
    color: #fff;
    padding: 0 14px;
    border-radius: 17px;
    cursor: pointer;
  }
  .menuButton img {
    height: 13px;
  }
  .menuCarrier {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999999999;
  }
  .menuCarrierOpen {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .menu {
    background: #fff;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 7% 0;
    z-index: 9999999999;
  }
  .header .menu li {
    font-size: 1.6em;
    font-weight: 700;
    color: #454545;
  }
  .menu > img {
    display: block;
    position: relative;
    left: calc(50% - 50px);
    cursor: pointer;
  }
  .header .menu .premium {
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    margin-left: 20px;
  }
  .premium img {
    position: relative;
    top: 3px;
    left: -3px;
    height: 24px;
  }
  .menuExtra {
    height: 50vh;
    width: 100vw;
  }
  .light .menu .premium {
    border: 1px solid #ff9700;
    color: #ff9700;
  }
  .light .menu {
    color: #454545;
  }
  .light .menuButton {
    background: #fff;
    color: #ff638e;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    z-index: 9999999;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px 25px 5px;
    display: flex;
    align-items: center;
  }
  .sticky .logoImage {
    height: 40px;
  }
  .ihLogoImage {
    height: 19px;
    width: 144px;
  }
  #school strong {
    font-weight: 800 !important;
  }
}

@media print {
  .menu {
    display: none;
  }
}

@media (max-width: 1000px) {
  #school strong {
    visibility: hidden;
  }
  #school :after {
    visibility: visible;
    content: attr(data-text2);
  }
}

.Landing {
  background: #e7f7ff;
  color: #454545;
  min-height: calc(100vh - 102px);
}

.LandingCarrier {
  max-width: 1200px;
  margin: auto;
}

.LandingCarrier,
.LandingInner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.LandingInner {
  max-width: 1000px;
  min-height: calc(100vh - 102px);
  margin: 40px auto 0;
  justify-content: space-between;
}

.LandingInner h1 {
  font-size: 3.2em;
  text-align: center;
  color: #00adfe;
  line-height: 1.1em;
  letter-spacing: 1px;
}

.LandingInner > .downDiv {
  margin: auto;
}

.subText {
  color: #ff638e;
  text-align: center;
  font-size: 0.91em;
  padding-top: 35px;
}

.purpleHr {
  border-top: 1px solid #ff638e;
  width: 95px;
  margin: 10px auto;
}

.down {
  padding: 30px 0;
}

.appCarrier {
  height: 230px;
  margin: 0;
  overflow: hidden;
}

#theAppCarrier {
  margin: 0;
}

.appCarrier img,
.press {
  width: 100%;
}

.press {
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
}

.en {
  width: inherit;
  height: inherit;
}

.pressCarrier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.pressCarrier img {
  max-height: 40px;
}

.pressCarrier a {
  display: flex;
  flex-direction: row;
}

#bbc img {
  max-height: 25px;
}

#forbes {
  margin-left: 0;
}

#forbes img,
#parents img {
  max-height: 25px;
}

#mighty img {
  max-height: 40px;
}

#cosmopolitan img {
  max-height: 28px;
}

.LandingText {
  margin: auto;
}

@media (max-width: 1112px) {
  .Landing,
  .LandingInner {
    min-height: auto;
  }
  .LandingInner {
    width: calc(100% - 50px);
    padding: 0 25px;
  }
  .press {
    overflow-x: scroll;
  }
  .pressCarrier {
    padding: 0 16px;
    width: unset;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .pressCarrier a {
    margin: 0 14px;
  }
  .en .pressCarrier a {
    margin: 0;
  }
  #bbc img {
    max-height: 20px;
  }
  #forbes img {
    max-height: 17px;
  }
  #parents img {
    max-height: 16px;
  }
  #mighty img {
    max-height: 32px;
  }
  #autismspeaks img {
    max-height: 29px;
  }
  #upworthy img {
    max-height: 28px;
  }
  #autismparenting img {
    max-height: 27px;
  }
  #cosmopolitan img {
    max-height: 22px;
  }
  .LandingText {
    display: none;
    margin: auto;
  }
  .LandingInner h1 {
    font-size: 2.3em;
  }
  .appCarrier {
    height: auto;
    margin-bottom: 0;
    padding: 0;
    line-height: 0;
  }
}

.mobileBreak {
  display: none;
}

@media (max-width: 500px) {
  .Landing {
    min-height: calc(100vh - 102px);
  }
  .LandingInner {
    min-height: calc(100vh - 140px);
  }
  .press {
    height: 150px;
    overflow: hidden;
  }
  .press .en {
    height: inherit;
    overflow: inherit;
  }
  .pressCarrier {
    flex-wrap: wrap;
    min-width: auto !important;
    margin: auto;
    -webkit-transform: none !important;
    transform: none !important;
  }
  .en .pressCarrier,
  .pressCarrier {
    flex-direction: row;
    justify-content: center;
  }
  .en .pressCarrier,
  .pressCarrier a {
    align-items: center;
  }
  .pressCarrier a {
    display: flex;
    justify-content: center;
    width: calc(20% - 10px);
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
  }
  .en .pressCarrier a {
    margin: 0 14px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #bbc {
    margin-left: 14px;
  }
  #autismspeaks,
  #forbes {
    padding: unset;
  }
  #upworthy {
    padding: 0 10px;
  }
  #autismparenting,
  #cosmopolitan {
    padding: unset;
  }
  .en .pressCarrier a img {
    max-width: unset;
    max-height: unset;
  }
  .pressCarrier a img {
    max-width: 100%;
    max-height: 100%;
  }
  .LandingInner h1 {
    font-size: 2em;
  }
  .mobileBreak {
    display: block;
  }
}

@media (max-width: 360px) {
  .en .pressCarrier a {
    margin: 0 5px;
  }
  #forbes {
    margin-left: 5px;
  }
  #sociable {
    margin-right: 5px;
  }
}

.ourAim {
  background: #fff;
  color: #454545;
}

.ourAimCarrier {
  max-width: 1200px;
  margin: auto;
  min-height: 260px;
}

.ourAimCarrier,
.ourAimInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ourAimInner {
  max-width: 1000px;
  margin: 40px auto;
}

.ourAimInner h2 {
  font-size: 2.4em;
  padding-top: 30px;
  text-align: center;
  color: #00adfe;
}

.ourAimInnerRow {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto;
  padding-bottom: 20px;
}

.ourAimInnerRowLeft {
  flex: 2 1;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid {
  width: calc(50% - 20px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 10px;
}

.grid h3,
.grid p {
  font-size: 0.85em;
}

.grid h3 {
  padding: 10px 0;
}

.ourAimInnerRowRight {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourAimInnerRowRight > div {
  position: relative;
}

.over {
  position: absolute;
  width: 100%;
  color: #fff;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.over img {
  margin-bottom: 15px;
}

.over p {
  padding-top: 10px;
}

.shadowBg {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000000000000;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.shadowInner {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

.shadowInner iframe {
  display: block;
  width: 640px;
  height: 360px;
  margin: auto;
}

@media (max-width: 1000px) {
  .ourAimInnerRow {
    flex-direction: column;
  }
  .ourAimInnerRowRight {
    margin-top: 100px;
  }
  .ourAimInner h2 {
    font-size: 1.6em;
  }
  .shadowInner iframe {
    width: 100%;
    height: 360px;
  }
}

@media (max-width: 500px) {
  .ourAimInnerRowLeft {
    flex-direction: column;
  }
  .grid {
    width: 100%;
  }
  .ourAimInnerRow {
    margin-top: 10px;
  }
  .ourAimInner h2 {
    font-size: 1.6em;
    padding: 0;
    margin: 0;
  }
  .ourAimInnerRowRight {
    margin: 15px auto auto;
    width: 90%;
  }
  .ourAimInnerRowRight > div > img {
    width: 100%;
  }
  .ourAimInner {
    margin-bottom: 0;
  }
}

.Scientific {
  background: #fff;
  color: #454545;
}

.ScientificCarrier {
  max-width: 1200px;
  margin: auto;
}

.ScientificCarrier,
.ScientificInner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ScientificInner {
  max-width: 1000px;
  margin: 60px auto;
}

.ScientificInner h2 {
  font-size: 2.3em;
  text-align: center;
  padding-top: 30px;
  color: #00adfe;
}

.ScientificInner h2 br {
  display: none;
}

.ScientificGridHolder {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}

.ScientificGrid {
  display: flex;
  flex: 1 1;
  margin: 60px 0;
  padding: 0 60px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: baseline;
  border-left: 1px solid rgba(211, 210, 211, 0.5);
}

.ScientificGrid p {
  padding: 20px 0;
  font-size: 0.9em;
}

.ScientificFrom {
  font-size: 0.8em;
  color: #a1a1a1;
}

.ScientificTitle {
  color: #49d769;
  font-size: 3em;
  line-height: 1em;
}

@media (max-width: 1000px) {
  .ScientificInner {
    width: calc(100% - 50px);
    padding: 0 25px;
  }
  .ScientificGrid {
    padding: 0 40px;
  }
  .ScientificInner h2 {
    font-size: 1.6em;
  }
  .ScientificTitle {
    font-size: 2em;
    line-height: 1em;
  }
}

@media (max-width: 500px) {
  .ScientificGridHolder {
    flex-direction: column;
  }
  .ScientificGrid {
    padding: 25px 0;
    border-top: 1px solid #eee;
    border-left: 0;
    margin: 10px 0;
  }
  .ScientificInner h2 br {
    display: block;
  }
  .ScientificInner {
    margin-top: 20px;
  }
  .ScientificTitle {
    font-size: 3em;
    line-height: 1em;
  }
}
